name: Release and publish

on: 
  push:
    branches:
      - "!*"
    tags:
      - "v*"
    paths-ignore:
      - README.md
      - CHANGELOG.md
      - .github/workflows/audit.yml
      - .github/workflows/rust.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Build 
        run: cargo build --all --release && strip target/release/vmail-cli && mv target/release/vmail-cli target/release/vmail-cli_amd64
      
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with: 
          files: | 
            target/release/vmail-cli_amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
